.success{ padding: 10px 16px 0; text-align:center; }
.success-top{ display:flex; justify-content:flex-start; padding: 6px 0 10px; }

.success-avatars{
  margin-top: 70px;
  position: relative;
  height: 130px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.big-user{
  width: 92px; height: 92px;
  border-radius: 999px;
  background: #e8ddff;
  display:flex; align-items:center; justify-content:center;
  font-size: 40px;
  color:#4b2ca0;
}
.small-sarah{
  width: 62px; height: 62px;
  border-radius: 999px;
  object-fit: cover;
  position:absolute;
  left: 50%;
  transform: translateX(-92px);
  top: 62px;
  border: 4px solid #fff;
}

.success-title{ margin: 22px 0 10px; font-size: 40px; font-weight: 900; color:#111; }
.success-sub{ margin:0; color:#666; line-height:1.5; font-weight: 700; font-size: 14px; }
.success-btn{ margin: 34px auto 0; width: 160px; }
